h1,
h2 {
  color: white;
}
h1 {
  font-size: 62px;
  letter-spacing: 5px;
}
h2 {
  font-size: 36px;
}
body {
  min-height: 100vh;
  background-image: url("../media/bg.png");
  background-position: top center;
}

header {
  height: 100px;
  background: maroon;
}

header > div {
  /* currently not flexable */
  /* try using max-width and width % */
  width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu-container li {
  margin: 10px;
}

.menu-container a {
  color: gold;
  text-decoration: none;
  font-size: 22px;
}

.logo-container {
  width: 70px;
}
.logo-container img {
  width: 100%;
}

main {
  text-align: center;
  padding-top: 300px;
  text-shadow: 1px 1px 2px black;
}
